/*
  CSS File
*/

.page {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {

}

.header--banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  background-color: #565CAE;
}

.header--banner--logo {
  padding: 10px 10px;
  height: 60px;
}

.header--banner--nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header--banner--nav ul {
  display: flex;

  gap: 70px;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
}

.header--banner--nav ul li a {
  font-size:x-large;
  font-weight: 600;
  color: #E7E6FF;
  text-decoration: none;
}

.header--banner--nav ul li a:hover {
  text-decoration: underline;
}



.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;

  width: 100%;
  height: 800px;

  object-fit: cover;
  object-position: bottom;

  background-image: url("images/powerlines.JPG");
}

.welcome--box {
  width: 420px;
  height: 275px;
  display:flex;
  flex-direction: columns;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  border-radius: 5px;

  background-color: #070754;
  color:#E7E6FF;
}

.welcome--box--text h2 {
  text-align: center;
  font-size: 1.5rem;
}

.welcome--box--text p {
  text-align: center;
  font-size: 1rem;
}



.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 600px;
  width: 100%;

  margin: 0px;

  background-color: #565CAE;
}

.middle--button {
  margin-left: 300px;
  margin-top: 200px;
  width: 15%;
  height: 200px;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;

  text-align: center;
  vertical-align: center;

  background-color: #070754;
  color: #E7E6FF;
  font-size: 1.5rem;
}

.middle--button p {
  align-self: center;
  vertical-align: center;
  margin-top: 60px;
}

.middle--gallery {
  margin-top: 20px;
  margin-right: 10%;

  vertical-align: center;
  height: 700px;
  width: 700px;

}

.middle--gallery--grid {
  display: grid;
  list-style-type: none;
  padding: 5px 5px 5px 5px;

  vertical-align: center;

  height: 700px;
  width: 700px;

  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 1.3rem;
}

.middle--gallery--grid .item-1 {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 3;

  border: 1px solid black;
  background-color: crimson;
}

.middle--gallery--grid .item-2 {
  grid-column-start: 3;
  grid-column-end: -1;

  grid-row-start: 1;
  grid-row-end: 4;

  border: 1px solid black;
  background-color: chartreuse;
}

.middle--gallery--grid .item-3 {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: -1;

  border: 1px solid black;
  background-color: sandybrown;
}

.middle--gallery--grid .item-4 {
  grid-column-start: 3;
  grid-column-end: -1;

  grid-row-start: 4;
  grid-row-end: -1;

  border: 1px solid black;
  background-color: palevioletred;
}


.footer {

}

.footer--banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  background-color: #75BFCE;
}

.footer--banner--nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--banner--nav ul {
  display: flex;
  justify-content: space-between;

  gap: 70px;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

.footer--banner--nav ul li a {
  font-size:x-large;
  font-weight: 600;
  color: #E7E6FF;
  text-decoration: none;
}

.footer--banner--nav ul li a:hover {
  text-decoration: underline;
}