/*
  CSS File
*/

.page {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  padding: 10px 10px;
  background-color:brown;
}

.header--banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  background-color: #565CAE;
}

.header--banner--logo {

}

.header--banner--nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header--banner--nav ul {
  display: flex;

  gap: 70px;
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

.header--banner--nav ul li a {
  font-size:x-large;
  font-weight: 600;
  color: #E7E6FF;
  text-decoration: none;
}

.header--banner--nav ul li a:hover {
  text-decoration: underline;
}